.container {
  border-bottom: 1px solid var(--ion-color-light-tint);
  left: 0;
  min-height: 100px;
  position: sticky;
  right: 0;
  text-align: center;
  top: 0;
  background: #fff;
  padding-top: 32px;
}

.accountLine {
  min-height: 50px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0 !important;
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}

.riderImg {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url('./rider.png');
  background-size: contain;
  position: relative;
  top: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.row.search-bar {
  border-top: 1px solid var(--ion-color-light-tint);
  padding-top: 0px;
  padding-bottom: 0;
}

.deliveryCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--ion-color-light-shade);
}

.label {
  font-weight: 500;
  font-size: 16px;
  position: relative;
  left: 18px;
  top: 14px;
}

.align-left {
  padding-left: 40px;
  -webkit-padding-start: 30px;
  padding-inline-start: 34px;
  text-align: left;
}

.minus-right-margin {
  position: relative; 
  top: 4px;
  margin-right: -16px;
}

.searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-search-icon.sc-ion-searchbar-ios {
  margin-left: 7px;
  -webkit-margin-start: 7px;
  margin-inline-start: 7px;
}

.segment-control {
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
  animation: ScrollAnimation;
animation-duration: 3s;
animation-delay: 0.1s;
animation-fill-mode: forwards;
animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

@keyframes ScrollAnimation {
  0% {
      opacity: 0;
      transform: translateY(20px)
  }
  100% {
      opacity: 1;
      transform: translateY(0px)
  }
}
