.Card {
    display: flex;
    min-width: 80px;
    height: 80px;
    border-radius: 5px;
    background: orange;
    margin-right: 8px;
    align-items: flex-end;
    padding: 8px;
    font-size: 10px;
    background-size: contain;
  }

  .Card > h3 {
    font-size: 12px;
    line-height: 12px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
    margin-bottom: 4px;
  }