.align-left {
    padding-left: 40px;
    -webkit-padding-start: 40px;
    padding-inline-start: 40px;
    text-align: left;
  }
  
  .minus-right-margin {
    position: relative; 
    top: 4px;
    margin-right: -16px;
  }
  
  .searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-search-icon.sc-ion-searchbar-ios {
    margin-left: 8px;
    -webkit-margin-start: 8px;
    margin-inline-start: 8px;
  }
  
  .searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
    padding-left: 40px;
    -webkit-padding-start: 40px;
    padding-inline-start: 40px;
  }

  .category-list-item {
    display: none !important;
  }